* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

.logo span {
    color: rebeccapurple;
}

body {
    background-color: #f1f1f1;
    padding-top: 90px;
}

.container {
    width: 80%;
    margin-inline: auto;
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
}

/* Navbar */
.navbar {
    padding: 10px 0 10px 0;
    position: fixed;      
    top: 0;               
    left: 0;
    width: 100%;           
    z-index: 999;           
    background-color: rgba(255,255,255,0.15); 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-box .menu {
    display: flex;
    gap: 40px;
}

.navbar-box .menu li {
    list-style-type: none;
}

.navbar-box .menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar-box .menu li a:hover {
    border-bottom: 3px solid rebeccapurple;
}

.navbar-box ri-menu-3-line {
    display: none;
}

/* Navbar */

section {
    scroll-margin-top: 100px;
}

/* Hero */
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.hero-box h2 {
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: rebeccapurple;
}

.hero-box h2 span {
    font-size: 33px;
    color: black;
    font-weight: bold;
}

.hero-box p {
    line-height: 2;
    margin-bottom: 30px;
}

.hero-box a {
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.hero-box img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

@media (max-width: 768px){
    .hero-box {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 70px;
    }
}

/* Hero */

/* Tentang */
.layanan {
    padding-top: 33px;
    padding-bottom: 60px;
}

.layanan-desc {
    max-width: 900px;
    margin: 0 auto 10px auto;
    line-height: 1.6;
    font-size: 17px;
    text-align: center;
}

.title-layanan {
    text-align: center; 
    margin-bottom: 30px;
    margin-top: 50px;
}

.layanan-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.layanan-box .box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.layanan-box .box:hover {
    background-color: rebeccapurple;
}

.layanan-box .box:hover > * {
    color: white;
}

.layanan-box .box i {
    color: rebeccapurple;
}

.title-layanan span {
    color: rebeccapurple;
}

.layanan-box .box h2 {
    margin-top: 20px;
    margin-bottom: 5px;
}

#layanan {
    scroll-margin-top: 0; 
}

/* Product */
.produk {
    padding-top: 0px;
    padding-bottom: 150px;
}

.produk-box h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.produk-box ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.produk-box ul li {
    list-style-type: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.produk-box ul li.active {
    background-color: rebeccapurple;
    color: white;
}

.produk-box .produk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.produk-item {
    width: 200px;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.2s ease;
}

.produk-item:hover {
    transform: scale(1.05);
    background-color: rebeccapurple;
}

.produk-item:hover h5,
.produk-item:hover .harga {
    color: white;
}

.produk-item img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 10px;
}

.btn-beli {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn-beli:hover {
    background-color: #6b3fa0;
}

.produk-item:hover .btn-beli {
    background-color: white;
    color: rebeccapurple;
}

.produk-item h5 {
    font-size: 13px;
    margin: 10px 0 5px;
}

.harga {
    font-weight: bold;
    margin-bottom: 10px;
    color: rebeccapurple;
}

/* Footer */
.footer {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p span {
    font-weight: bold;
    color: rebeccapurple;
}

.footer.box:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer .box i {
    cursor: pointer;
}

.footer .box i:hover {
    color: rebeccapurple;
}